# Environment variables
.env

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/main/main
cmd/main/main.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep

# Database
*.db
*.sqlite
